.trial-duration-message {
    margin-bottom: 1.5rem;
    padding: 0.75rem;
    background-color: #3b82f6;
    color: white;
    border-radius: 0.375rem;
    font-weight: 500;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}


@keyframes slideDownFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-slide-down {
    animation: slideDownFadeIn 300ms ease-out forwards;
}

@keyframes slideUpFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.fade-out-slide-up {
    animation: slideUpFadeOut 200ms ease-in forwards;
}